@charset "UTF-8";

p {
  line-height: 2;
}


.site_introduce,.introduction {
  clear: both;
  width: 960px;
  height: auto;
  margin: 0 auto;
}
.site_introduce h2, .introduction h2 {
  text-align: center;
  font-size: 36px;
  border-bottom: 1px solid #000;
  margin-top: 60px;
}
.site_introduce .content {
  text-align: left;
}
.site_introduce p {
  width: 600px;
  margin: 20px auto;
}
.introduction {
  margin-top: 50px;
  margin-bottom: 50px;
}
.introduction .main-list {
  width: 800px;
  text-align: left;
  list-style: none;
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  padding-left: 50px;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
}
.introduction .sub-list {
  font-size: 18px;
  margin: auto;
  padding: 0;
  width: 700px;
}
.introduction p {
  width: 700px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}
.introduction .p_center {
  text-align: center;
}
