@charset "UTF-8";

span {
  font-size: 15px;
  color: red;
}

input, textarea {
  font-family: inherit;
}

.form_wrapper,.submit_confirm {
  clear: both;
  width: 960px;
  height: auto;
  margin: 0 auto;
  font-size: 20px;
  color: #000;
}
.form_wrapper h2,.submit_confirm h2 {
  text-align: center;
  font-size: 54px;
  font-weight: normal;
  border-bottom: 1px solid #000;
  margin-top: 60px;
  padding: 0;
}
.form_wrapper input {
  width: 400px;
  height: 40px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
}
.form_wrapper input::placeholder,textarea::placeholder {
  color: #a9a9a9;
}
.form_wrapper textarea {
  width: 650px;
  height: 250px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  font-size: 15px;
  resize: none;
}
textarea:focus,input:focus,button:focus {
  outline: 0;
  box-shadow: 0 0 2px 1px #87cefa;
  border: 1px solid #87cefa;
  transition: all 0.2s;
}

.form_wrapper dl,.submit_confirm dl {
  border-bottom: 1px solid #ccc;
  padding: 20px;
}
.form_wrapper dt,dd {
  display: table-cell;
  vertical-align: middle;
  font-weight: normal;
}
.submit_confirm dt,dd {
  display: table-cell;
  vertical-align: middle;
  font-weight: normal;
}
.form_wrapper dt,.submit_confirm dt {
  width: 250px;
  text-align: center;
}
.form_wrapper dd,.submit_confirm dd {
  text-align: center;
  padding:20px 0;
}
.form_wrapper .btn {
  text-align: center;
}
.btn .submit_btn {
  width: 400px;
  height: 60px;
  margin: 20px 0 40px 0;
  font-size: 18px;
  background-color: #fff;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  color: #696969;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #c0c0c0;
}
.submit_btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2px 2px #87cefa;
  transition: all 0.5s;
}
.btn_group {
  width: 960px;
  height: 120px;
}
.btn_group .btn {
  width: 50%;
  float: left;
  margin: auto;
  text-align: center;
}
