@charset "UTF-8";

a {
  margin: auto;
  padding: 0;
}


.home-content h2, .categories h2 {
  text-align: center;
  font-size: 34px;
  border-bottom: 1px solid #000;
  font-weight: normal;
}
.home-content p {
  width: 800px;
  margin: auto;
  text-align: center;
  line-height: 2.2;
}
.home-content a:hover {
  opacity: .5;
  transition: all .3s;
}


/* コンテンツ */
.categories h2 {
  font-size: 40px;
}
.flex-wrapper {
  width: 800px;
  margin: auto;
  display: flex;
}
.flex-inner {
  position: relative;
  width: 210px;
  height: 210px;
  margin: auto;
  background-color: #f0f8ff;
  border-radius: 40px;
  box-shadow: 0 0 4px 1px #c0c0c0;
  cursor: pointer;
}
.flex-inner p {
  width: 180px;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
.flex-inner:hover {
  transform: scale(1.05);
  box-shadow: 0 0 4px 1px #87cefa;
  transition: all .3s;
}
