@charset "UTF-8";

body {
  position: relative;
  min-height: 100vh;
}

h2 {
  text-align: center;
  font-size: 34px;
  border-bottom: 1px solid #000;
  font-weight: normal;
}
span {
  font-size: 12px;
  color: red;
}
.content_wrapper small {
  font-size: 12px;
  color: #898989;
}

.sign_up_page, .login_page, .login_select, .logout_page {
  width: 450px;
  height: auto;
  margin: 30px auto;
  padding: 5px 20px 0;
  text-align: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 6px 0px #898989;
}
dl {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  text-align: center;
}
.sign_up_page dt,.sign_up_page dd,.login_page dt,.login_page dd {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}
.sign_up_page dt, .login_page dt {
  width: 180px;
  margin: auto;
  padding-left: 50px;
}
dd {
  margin: 0 auto;
  padding: 0;
}
.sign_up_page dd, .login_page dd {
  width: 250px;
}
input[type="text"], input[type="password"] {
  width: 200px;
  height: 25px;
  border: 1px solid #c0c0c0;
  outline: 0;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
  border-radius: 5px;
}
input[type="radio"], label {
  cursor: pointer;
}
input[type="submit"] {
  cursor: pointer;
  width: 150px;
  height: 40px;
  color: #fff;
  border: 0;
  background-color: #87cefa;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 #c0c0c0;
}
input[type="submit"]:hover {
  transform: scale(1.05);
  transition: all .5s;
}
input::placeholder {
  color: #a9a9a9;
}
input:focus,button:focus {
  outline: 0;
  box-shadow: 0 0 2px 1px #87cefa;
  border: 1px solid #87cefa;
  transition: all 0.2s;
}
.login_select dl {
  margin-top: 25px;
  height: 110px;
}
.login_select button,.sign_up_page button,.login_page button,.logout_page button {
  display: block;
  width: 300px;
  height: 50px;
  margin: auto;
  font-size: 20px;
  color: #fff;
  border-radius: 15px;
  border: 0;
  outline: 0;
  cursor: pointer;
  box-shadow: 0 0 3px 0px #c0c0c0;
}
button {
  background-color: #87cefa;
}
button:hover {
  transform: scale(1.05);
  transition: all .5s;
}

footer {
  position: absolute;
  bottom: 0;
}


/* 会員登録ページ */
.sign_up_page table {
  width: 300px;
  height: 200px;
  margin: auto;
}
.sign_up_page tr .title {
  width: 100px;
}
.sign_up_page .to_mypage {
  font-size: 18px;
  height: 50px;
}
.to_mypage a:hover {
  color: #87cefa;
  transition: all .5s;
}
