@charset "UTF-8";

/* ユーザ進捗度管理画面 */
.user_wrapper {
  clear: both;
  width: 800px;
  height: 150px;
  margin: 30px auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 6px 2px #c0c0c0;
}
.content .left_content {
  float: left;
}
.content .username {
  display: inline-block;
  font-size: 32px;
  padding: 0 40px 0 20px;
  margin: 10px 0 0 20px;
  border-bottom: 1px solid #000;
}
.content .achievement {
  font-size: 24px;
  padding-top: 5px;
  padding-left: 50px;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
}
.content .right_content {
  float: right;
  width: 330px;
  height: 150px;
  padding: 10px 10px 10px 0;
}
.content .show_level {
  font-size: 24px;
  padding: 0;
  float: left;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
}
.content span {
  font-size: 14px;
}
.content img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 #c0c0c0;
  float: right;
}


/* 時刻表示 */
.clock {
  clear: both;
  text-align: center;
  font-size: 50px;
  margin: 20px;
  height: 60px;
}

/* タスク画面 タイトル */
.task_header {
  margin-bottom: 0;

}

/* スライド　・　スケジュール */
.swiper-parent {
  clear: both;
  display: flex;
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
.swiper-container {
  width: 900px;
  height: 240px;
  box-sizing: content-box;
  text-align: center;
  margin: auto;
}
.swiper-slide {
  height: 240px;
  margin: 0 auto;
  transform: scale(0.6);
}
.slide-content {
  width: 240px;
  height: 100%;
  margin: auto;
  background-color: #f0f8ff;
  box-shadow: 0 0 4px 1px #a9a9a9;
  border-radius: 40px;
  text-align: center;
}
.slide-content p {
  width: 200px;
  margin: auto;
}
.slide-content .name {
  padding-top: 20px;
  font-size: 24px;
}
.slide-content .image {
  height: 75px;
  font-size: 70px;
}
.slide-content .time {
  font-size: 24px;
}
.slide-content .memo {
  font-size: 16px;
}
.swiper-slide-active {
  transform: scale(0.8);
  transition: 0.5s;
}
.swiper-pagination {
  height: 10px;
}
.swiper-button-prev,.swiper-button-next {
  outline: 0;
}


/* タスク追加 */
.add_task {
  width: 800px;
  margin: auto;
}
.add_task button {
  float: right;
  width: 130px;
  height: 40px;
  margin: auto;
  background-color: #87cefa;
  border-radius: 10px;
  border: 0;
  outline: 0;
  box-shadow: 0 0 2px 0 #898989;
  cursor: pointer;
}
.add_task button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2px 0 #c0c0c0;
  transition: .4s;
}
button a {
  display: block;
  color: white;
}
.slide-content input[type="submit"] {
  font-size: 20px;
  width: 130px;
  height: 30px;
  margin: auto;
  background-color: #87cefa;
  border-radius: 10px;
  border: 0;
  outline: 0;
  box-shadow: 0 0 2px 0 #898989;
  cursor: pointer;
}
.slide-content input[type="submit"]:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2px 0 #c0c0c0;
  transition: .4s;
}


/* タスク一覧 */
.content_wrapper h2 {
  text-align: center;
  font-size: 35px;
  font-weight: normal;
  border-bottom: 1px solid #000;
  margin-top: 60px;
  padding: 0;
}
.flex_wrapper {
  clear: both;
  font-family:"游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
  display: flex;
  width: 720px;
  margin: auto;
  flex-wrap: wrap;
}
.flex_inner {
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 20px;
  box-shadow: 0 0 3px 1px #a9a9a9;
  border-radius: 30px;
  background-color: #fff;
}
.flex_inner .name {
  font-size: 18px;
  border-bottom: 1px solid #c0c0c0;
}
.flex_inner .taskdate,.time,.memo {
  margin-top: 5px;
  margin-bottom: 5px;
}
.flex_inner .memo {
  height: 25px;
  font-size: 14px;
}
.flex_inner input[type="submit"] {
  font-size: 12px;
  width: 80px;
  height: 18px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  border: 0;
  outline: 0;
  box-shadow: 0 0 2px 0 #898989;
  cursor: pointer;
}
.flex_inner input[type="submit"]:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2px 0 #c0c0c0;
  transition: .4s;
}
