.ranking {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
  width: 450px;
  height: auto;
  margin: 30px auto;
  padding: 5px 20px 10px;
  text-align: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 6px 0px #898989;
}
dl {
  width: 400px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
dt, dd {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}
dt {
  width: 100px;
  margin: auto;
}
dd {
  margin: 0 auto;
  padding: 0;
}
.num {
  font-size: 24px;
}
.name {
  font-size: 24px;
  width: 200px;
}


/* フッターを下に固定 */
body {
  position: relative;
  min-height: 100vh;
}
footer {
  position: absolute;
  bottom: 0;
}
