@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  font-family:'Vollkorn', "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-image: url(../images/repeated-square.png);
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: #000;
}

.under_blue {
  background: linear-gradient(transparent 70%, #87cefa 30%);
}

/*------------------------------
ヘッダー
------------------------------*/
.header_wrapper {
  width: 100%;
  height: 120px;
  box-shadow: 0 0 3px 1px #c0c0c0;
  background-color: #fff;
}
.header {
 max-width: 1040px;
 height: 120px;
 margin: 0 auto;
 overflow: hidden;
}

/*------------------------------
ロゴ
------------------------------*/
.logo{
  float: left;
  width: 280px;
  height: 100px;
  margin-top: 10px;
}
.logo img {
  width: 280px;
  height: auto;
}
.logo img:hover {
  opacity: .5;
  transition: all .2s;
}

/*------------------------------
ログイン・ログアウトボタン
------------------------------*/
.login_header {
  float: right;
  min-width: 180px;
  height: 60px;
  text-align: right;
  padding: 0;
  margin: 0 auto;
}
.login_header button {
  float: right;
  width: 80px;
  height: 25px;
  margin-top: 30px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 0;
  outline: 0;
  box-shadow: 0 0 2px 0 #898989;
  cursor: pointer;
}
.login_header button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2px 0 #c0c0c0;
  transition: .4s;
}

/*------------------------------
ナビゲーション
------------------------------*/
.navigation {
  max-width: 600px;
  min-width: 590px;
  float: right;
}
.navigation ul {
  float: right;
  list-style: none;
}
.navigation li {
  float: left;
  display: inline-block;
  margin: 0 16px;
  font-size: 20px;
}
.navigation li:hover {
  transform: scale(1.3);
  transition: 1s;
}
.navigation a {
  text-decoration: none;
  color: #000;
}
.navigation a:hover {
  color: #d2691e;
  transition: 1.2s
}

/*------------------------------
スライド
------------------------------*/
.slider {
  width: 100%;
  height: 300px;
}

/*------------------------------
フッター
------------------------------*/
.footer {
  width: 100%;
  height: 150px;
  text-align: center;
  background-color: #d3d3d3;
  clear: both;
}
.footer .social {
  padding-top: 40px;
  padding-bottom: 15px;
}
.footer .social a {
  text-decoration: none;
  font-size: 40px;
  margin: 0 15px;
  color: #000;
}
.footer .social i.fa-twitter:hover {
  color: #1e90ff;
}
.footer .social i.fa-instagram:hover {
  color: #9932cc;
}
.footer .social i.fa-youtube:hover {
  color: #ff0000;
}
.footer .social i:hover {
  transform: scale(1.2);
  transition: 1s;
}
.footer small {
  font-size: 16px;
}


/*------------------------------
共通css
------------------------------*/
.content_wrapper {
  width: 800px;
  margin: 30px auto;
  margin-bottom: 100px;
}
