body {
  position: relative;
  min-height: 100vh;
}
footer {
  position: absolute;
  bottom: 0;
}


/* ポップアップ画面 */
.task_content {
  width: 500px;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 3px 1px #a9a9a9;
}
.task_content dl {
  text-align: center;
}
.task_content dt,dd {
  margin: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-weight: normal;
}
dt {
  width: 200px;
  padding-left: 50px;
}
dd {
  width: 300px;
}
input[type="text"] {
  width: 200px;
  height: 25px;
  border: 1px solid #c0c0c0;
  outline: 0;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
  border-radius: 5px;
}
input::placeholder {
  color: #a9a9a9;
}
select {
  width: 38px;
  height: 22px;
  border: 1px solid #c0c0c0;
  outline: 0;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
  border-radius: 5px;
}

/* イメージ選択 */
.image_radio dt {
  width: 500px;
  padding: 0;
  margin: auto;
}
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: auto;
}
.image_radio dd {
  width: 100px;
}
.flex-wrapper i {
  font-size: 30px;
}
input[type="radio"], label {
  cursor: pointer;
}


/* 送信ボタン */
.btn dd{
  width: 500px;
}
input[type="submit"] {
  margin: auto;
  cursor: pointer;
  width: 150px;
  height: 40px;
  color: #fff;
  border: 0;
  outline: 0;
  background-color: #87cefa;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 #c0c0c0;
}
input[type="submit"]:hover {
  transform: scale(1.05);
  transition: all .5s;
}

/* ボタン */
button {
  background-color: #87cefa;
  display: block;
  width: 300px;
  height: 50px;
  margin: auto;
  font-size: 20px;
  color: #fff;
  border-radius: 15px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
button:hover {
  transform: scale(1.05);
  transition: all .5s;
}
button a {
  color: #fff;
}
